header{
    border-bottom: solid 2px map-get($colores , principal );
    nav {
        font-size: $fuente-h2; 
        text-transform: uppercase;
        background-image: map-get($colores , fondo-principal );
        
    }  
    
}

 .pIndex{
    font-size: 2.5rem;
    color: map-get($colores , blanco );
    padding-top: map-get($espaciado, uno );
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: map-get($espaciado, uno );
    text-align: justify;
    font-weight: 300;
}


h1{
    font-size: 3rem;
    color: map-get($colores , blanco );
    @include relative-center;
    margin-top: map-get($espaciado, uno );
    
    
}

main{
    
    background-color: map-get($colores , blanco );
    border: solid 1px map-get($colores , blanco );
    border-radius: 10px;
    background-image: map-get($colores , fondo-principal );
    .carrusel{
        .carrusel__img{
            object-fit: contain;
        }
    }
    .productos{
        .productos__h2{
            font-size: $fuente-h2;
            color: map-get($colores , blanco );
            @include relative-center;
            margin-bottom: map-get($espaciado, dos );
        }
    }
    .productos{
        .productos__div{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            align-items: center;
            justify-items: center;
            margin-bottom: map-get($espaciado, dos );
            .productos__div__img{
                width: 75%;
                height: 90%;
                margin-top: map-get($espaciado, tres );
                margin-bottom: map-get($espaciado, tres );
                border: solid 5px map-get($colores , blanco );
                border-radius: 10px;
                filter: opacity(100%);
                transition: filter;
                &:hover{
                    filter: opacity(80%)
                    
                }
            }
        }
    }
}

footer{  
    background-color: map-get($colores , blanco );
    padding: map-get($espaciado, uno );
    .redes{
        font-size: 1.75rem;
        color: map-get($colores , principal );
        @include relative-center;
        margin-top: map-get($espaciado, uno );
    
    }
    .redes__div{
        text-align: center;
            .redes__div__iconos{
            width: map-get($espaciado, dos );
            height: map-get($espaciado, dos );
            display: inline;
            margin-left: map-get($espaciado, tres );
            margin-right: map-get($espaciado, tres );
            margin-top: map-get($espaciado, dos );
            margin-bottom: map-get($espaciado, uno );
            .redes__div__iconos__link{
                fill: map-get($colores , principal );
                animation-name: redes__div__iconos;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                @keyframes redes__div__iconos {
                    0% {  fill: map-get($colores , principal )}
                     50%{  fill:#0062ff}
                    100%{  fill: #0091ff;}       
                }
            }
                
        }}
        
}

/* VISTA MOBILE*/

@media screen and (max-width: 599px) {
    
    h1{
        font-size: $fuente-titulos-mobile;
    }

    .pIndex{
        font-size:  $fuente-titulos-mobile;
    }
    .fuenteNavbar{
        font-size: 1.5rem;
    }
    main{
        .carrusel{
            .carrusel__img{
                object-fit: contain;
            }}
        .productos{
            .productos__h2{
                font-size: $fuente-titulos-mobile;
            }
            .productos__div{
                grid-template-columns: repeat(1,1fr);
                grid-template-rows: repeat(6,1fr);
                }
        }
        
    }
    

    footer{
        .redes{
            font-size: $fuente-titulos-mobile;
        }
        .redes__div{
            .redes__div__iconos{
                width: map-get($espaciado, cuatro );
                height: map-get($espaciado, cuatro );
            }
        }
    }

    /* FIN INDEX*/
    
    
}

/* VISTA TABLET*/

@media screen and (min-width: 600px ) and (max-width: 1024px) {
   

    h1{
        font-size: 2rem;
    }

    .pIndex{
        font-size: 1.5rem;
    }
    .colorLetra{
        font-size: $fuente-h2-tablet;
    }
    .fuenteNavbar{
        font-size: 2.5rem;
    }
    main{
        .carrusel{
            .carrusel__img{
                object-fit: contain;
            }}
        .productos{
            .productos__h2{
                font-size: $fuente-h2-tablet;
            }
        }
        .productos{
            .productos__div{
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(3,1fr);
                }
        }
        }
        
    footer{
        .redes{
            font-size: $fuente-h2-tablet;
        }
        .redes__div{
            .redes__div__iconos{
                width: map-get($espaciado, tres );
                height: map-get($espaciado, tres );
                }
        }
    }
    
    /* FIN INDEX*/


   

       
}