/* PAGINA NOSOTROS */
.nosotrosTitulo{
    text-align: center;
    font-size: $fuente-h2;
    color: map-get($colores , blanco );
    padding-top: 25px;
}

.nosotros{
    height: 50vh;
    width: 90vw;
    .parrafoNosotros{
        color: map-get($colores , principal ) ;
        font-size: 2.5rem;
        text-align: justify;
    }
    .div-foto-nos{
        background-image: url(../images/captura.PNG);
        background-size: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        }
    }

.sectionVideo{
    @include flex-column-center;
    .tituloVideo{
        text-align: center;
        font-size: 2.5rem;
        color: map-get($colores , blanco ) ;
        padding-top: map-get($espaciado, dos );
        padding-bottom: map-get($espaciado, uno );
    }
    .videoContenedor{
        width: 60vw;
        height: 40vh;
        border:2px solid map-get($colores , blanco );
        border-radius: $radio;
        margin-top: map-get($espaciado, uno );
        margin-bottom: map-get($espaciado, uno );
    }
}




/* VISTA TABLET*/

@media screen and (min-width: 600px ) and (max-width: 1024px) {
    .nosotrosTitulo{
        font-size: 2.5rem;
    }
    .nosotros{
        .parrafoNosotros{
            font-size: 1.5rem;
        }
    }
    .sectionVideo{
        .tituloVideo{
            font-size: $fuente-h2-tablet;
        }
    }
}

/* MOBILE */
@media screen and (max-width: 599px) {

    .nosotrosTitulo{
        font-size: 2rem;
    }
    .nosotros{
        .parrafoNosotros{
            font-size: $fuente-titulos-mobile;
        }
    }
    
    
    .sectionVideo{
        margin-top: map-get($espaciado, cinco );
        margin-bottom: map-get($espaciado, cinco );
        .tituloVideo{
            font-size: 1.5rem;
        }
        .videoContenedor{
            width: 90vw;
            height: 30vh;
              
        }
    }
    
    }