/* PAGINA PRODUCTOS */

.productosTitulo{
    text-align: center;
    font-size: 3rem;
    color: map-get($colores , blanco );
    padding-top: 25px;
    padding-bottom: 25px;
}
.productosJaula{
    display: flex;
    margin: map-get($espaciado, dos );
    img{
        border:2px solid map-get($colores , blanco );
        border-radius: 15px;
    }
 
}

.separador{
    text-align: center;
    color: map-get($colores , blanco );

    h3{
        font-size: 2.5rem;
    }
    

}

.contenedorJaula{
    @extend .productosJaula;
    justify-content: space-around;
    margin-top: 0%;
    img{
        display: inline-block;
        height: 30vh;
        width: 25vw;
        border:2px solid map-get($colores , blanco );
        border-radius: 8px;
        
    }
    
}

.productosTapa{
    @extend .productosJaula;
    img{
        border:2px solid map-get($colores , blanco );
        border-radius: 15px;
        height: 70vh;
        
    }
}

.contenedorTapa{
    @extend .contenedorJaula;
}
    

/* MOBILE */
@media screen and (max-width: 599px) {
    
    .productosJaula{
        width: 100%;
        @include column-center;
        padding-top: map-get($espaciado, dos );
        img{
            width: 80%;
        }
    }
    .contenedorJaula{
        @include column-center;
        width: 100%;
        img{
            width: 60%;
            height: 30vh;
            margin-bottom: 2%;
            
             
        } 
        
    }
    .productosTapa{
        width: 100%;
        @include column-center;
        padding-top: map-get($espaciado, dos );
        img{
            width: 80%;
            height: 20vh;
        } 
    }

         
}

/* TABLET*/

@media screen and (min-width: 600px ) and (max-width: 1024px){
    
    .productosTapa{
        display: flex;
        margin: map-get($espaciado, dos );
        img{
            border:2px solid map-get($colores , blanco );
            border-radius: 15px;
            height: 35vh;
        }
        
    }

}
