@import "variables.scss";
@import "mixins.scss";
@import "index.scss";
@import "contacto.scss";
@import "comprar.scss";
@import "nosotros.scss";
@import "productos.scss";



*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
	font-size: 62.5%;
}

body{
    height: 100vh;
    overflow-x: hidden;
    @include grid-rows3;

}


.colorLetra{
    color: map-get($colores , principal ) ;
    font-size: 2.5rem;
    
 }

.fondoBlanco{
    background-color: map-get($colores , blanco );
}














